<form method="post" action="/hogwarts-students">
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" name="first_name" required/>

</br>

  <label for="second-name">Last Name: </label>
  <input if="second-name" type="text" name="second_name" required/>

</br>

  <label for="house-id">Select a house: </label>
  <select id="house-id" name="house_id">
<% @houses.each do |house| %>
    <option value="<%= house.id() %>"> <%= house.name() %> </option>
<% end %>
  </select>

</br>

    <label for="age">Age: </label>
    <input if="Age" type="number" name="age" required/>

</br>

  <input type="submit" value="Add Student" />

</form>
