#logo { height: 40px;}
body {
  padding: 0px 10px 10px 0px;
}


p {
  font-size: small;
}

.display_area {
  border-radius: 5px;
  border-style: dashed;
  border-color: black;
  border-width: thin;
  margin: 10px;
  padding: 20px;
  width: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  }

thead, th {
  border: 1px solid #CCC;}
thead {
  font-weight: bold;}

h1 {
  text-align: center;}

.no_decoration {
  text-decoration:none;}

.no_bullets{
  list-style-type: none;}

.nav_links:visited{
  color: rgb(80,80,80);}

.nav_links:active{
  color: rgb(80,80,80);}

.nav_links:link {
  color: rgb(80,80,80);}

.nav_links:hover {
  color: rgb(200,200,200);}
